<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082234054178-flulcl7frodflbhtokglv00u3n11je78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082234054178-flulcl7frodflbhtokglv00u3n11je78</string>
	<key>API_KEY</key>
	<string>AIzaSyB003F0kV52ooHqPw_Y3dZKmn0iEMc3w3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1082234054178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>test1-180e1</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-180e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082234054178:ios:b9ef36e24eac71907e8c7b</string>
</dict>
</plist>